@media screen and (min-width:767px) {
    .sm{
        display: none;
    }
    
}

@media screen and (max-width:767px) {
    
}

@media screen and (max-width:479px) {
    /*.pc{
        display: none;
    }*/

    #hamburger {
        background-color: rebeccapurple;
        position: relative;
        cursor: pointer;
        margin: 0 0 0 auto;
        height: 60px;
        width: 60px;
    }

    .icon span {
        position: absolute;
        left: 15px;
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 8px;
        transition: ease 0.75s;

    }

}